<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title th:text="#{title.client.create}"></title>
        <link rel="icon" th:href="@{/assets/bank-icon.png}">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/css/main.css}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    </head>
    <body class="bg-blue">
        <header class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand scroll-top">
                <img th:src="@{/assets/bank-icon.png}"
                     width="30" height="30" class="d-inline-block align-top" alt="Image"> <span
                    th:text="#{app.name}"></span>
            </a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">
                            <span th:text="#{nav.home}"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/worker/profile}">
                            <span th:text="#{nav.profile}"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active scroll-top" th:href="@{/client}">
                            <span th:text="#{nav.clients}"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/operations}">
                            <span th:text="#{nav.actions}"></span>
                        </a>
                    </li>
                </ul>
                <div class="logout">
                    <form class="form-inline my-2 my-lg-0" th:action="@{/worker/logOut}">
                        <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">
                            <i class="fas fa-sign-out-alt"></i>
                            <span th:text="#{btn.logout}"></span>
                        </button>
                    </form>
                </div>
            </div>
        </header>
        <div class="container-fluid">
            <div class="row row-center">
                <div class="col-12">
                    <div class="rounded-container smooth-shadow">
                        <div class="title-container">
                            <i class="avatar fas fa-user-plus"></i>
                            <h2>
                                <span th:text="#{title.client.create}"></span>
                            </h2>
                        </div>
                        <div class="card smooth-shadow">
                            <div class="card-header">
                                <ul class="nav nav-pills card-header-pills">

                                    <!--General-info-->
                                    <li class="nav-item">
                                        <button id="btn-general-info" class="btn nav-link active"
                                                onclick="showGeneralInfo()">
                                            <span th:text="#{client.general.information}"></span>
                                        </button>
                                    </li>

                                    <!--Contacts-->
                                    <li class="nav-item">
                                        <button id="btn-contacts" class="btn nav-link"
                                                onclick="showContactInfo()">
                                            <span th:text="#{client.contact.information}"></span>
                                        </button>
                                    </li>

                                    <!--Personal-info-->
                                    <li class="nav-item">
                                        <button id="btn-personal-info" class="btn nav-link"
                                                onclick="showPersonalInfo()">
                                            <span th:text="#{client.private.information}"></span>
                                        </button>
                                    </li>

                                </ul>
                            </div>

                            <!--Error Modal -->
                            <div class="modal fade" id="error-modal" tabindex="-1" role="dialog"
                                 aria-labelledby="error-modal-label" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title text-danger" id="error-modal-label">
                                                <i class="fas fa-exclamation-circle"></i>
                                                <span id="error-modal-title" th:text="#{title.error.oops}"></span>
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <span id="error-modal-body"></span>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">
                                                <span th:text="#{btn.close}"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--General-info-->
                            <div id="general-info" class="card-body card-info">
                                <div class="user-info">

                                    <!--FIO-->
                                    <section>
                                        <h4>
                                            <i class="fas fa-user"></i>
                                            <span th:text="#{txt.fio} + ':'"></span>
                                        </h4>

                                        <br>

                                        <div class="form-row">

                                            <!--Last Name-->
                                            <div class="form-group col-md-12">
                                                <label for="txt-last-name"
                                                       th:text="#{label.input.last.name} + ':'"></label>
                                                <input type="text" class="form-control" id="txt-last-name"
                                                       th:placeholder="#{placeholder.input.last.name}"/>
                                            </div>
                                        </div>

                                        <div class="form-row">

                                            <!--First Name-->
                                            <div class="form-group col-md-6">
                                                <label for="txt-first-name"
                                                       th:text="#{label.input.first.name} + ':'"></label>
                                                <input type="text" class="form-control" id="txt-first-name"
                                                       th:placeholder="#{placeholder.input.first.name}"/>
                                            </div>

                                            <!--Middle Name-->
                                            <div class="form-group col-md-6">
                                                <label for="txt-middle-name"
                                                       th:text="#{label.input.middle.name} + ':'"></label>
                                                <input type="text" class="form-control" id="txt-middle-name"
                                                       th:placeholder="#{placeholder.input.middle.name}"/>
                                            </div>
                                        </div>
                                        <br>
                                    </section>

                                    <!--Birth date-->
                                    <section>
                                        <h4>
                                            <i class="fas fa-calendar-alt"></i>
                                            <label for="txt-birth-date"
                                                   th:text="#{passport.birth.date}"></label>
                                        </h4>

                                        <br>

                                        <div class="form-row">
                                            <div class="form-group col-md-4">
                                                <label for="txt-birth-date"
                                                       th:text="#{label.input.birth.date} + ':'"></label>
                                                <input type="date" class="form-control" id="txt-birth-date"
                                                       th:placeholder="#{placeholder.input.birth.date}"/>
                                            </div>
                                        </div>
                                    </section>

                                    <!--Gender-->
                                    <section>
                                        <h4>
                                            <span th:text="#{passport.gender.label}"></span>
                                        </h4>

                                        <br>

                                        <div class="form-row">
                                            <div class="form-group col-md-4">
                                                <label for="txt-birth-date"
                                                       th:text="#{label.input.gender} + ':'"></label>
                                                <br>
                                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                    <label class="btn btn-outline-secondary btn-sm">
                                                        <input type="radio" name="gender"
                                                               checked> <span th:text="#{passport.gender.male}"></span>
                                                    </label>
                                                    <label class="btn btn-outline-secondary btn-sm">
                                                        <input type="radio" name="gender">
                                                        <span th:text="#{passport.gender.female}"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </section>

                                    <hr>

                                    <!--Company-->
                                    <section>
                                        <h4>
                                            <i class="fas fa-briefcase"></i>
                                            <span th:text="#{client.working.place}"></span>
                                        </h4>
                                        <br>
                                        <!--name-->
                                        <div class="form-row">
                                            <div class="form-group col-md-12">
                                                <label for="txt-company-name"
                                                       th:text="#{label.input.company.name} + ':'"></label>
                                                <input type="text" class="form-control" id="txt-company-name"
                                                       th:placeholder="#{placeholder.input.company.name}"/>
                                            </div>
                                        </div>

                                        <!--position-->
                                        <div class="form-row">
                                            <div class="form-group col-md-8">
                                                <label for="txt-position"
                                                       th:text="#{label.input.position} + ':'"></label>
                                                <input type="text" class="form-control" id="txt-position"
                                                       th:placeholder="#{placeholder.input.position}"/>
                                            </div>

                                            <!--income-->
                                            <div class="form-group col-md-4">
                                                <label for="txt-income-per-mouth"
                                                       th:text="#{label.income.per.month} + ':'"></label>
                                                <input type="number" class="form-control numbers-to-validate"
                                                       id="txt-income-per-mouth"
                                                       th:placeholder="#{placeholder.income.byn}"/>
                                            </div>
                                        </div>
                                    </section>

                                    <!--Next-->
                                    <div class="form-row">
                                        <div class="form-group col-md-8"></div>
                                        <div class="form-group col-md-4">
                                            <button class="btn btn-primary float-right scroll-top"
                                                    onclick="saveGeneralInfo()">
                                                <span th:text="#{btn.next}"></span>
                                                <i class="fas fa-arrow-right"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--Contact info-->
                            <div id="contact-info" class="card-body card-info" style="display: none">
                                <div class="user-info">

                                    <!--Living address-->
                                    <section>
                                        <h4>
                                            <i class="fas fa-map-marker-alt"></i>
                                            <span th:text="#{client.living.address} + ':'"></span>
                                        </h4>

                                        <br>

                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="select-living-address-country"
                                                       th:text="#{label.input.country} + ':'"></label>
                                                <select id="select-living-address-country" class="form-control">
                                                    <th:block th:each="country : ${countries}">
                                                        <option th:value="${country.iso3code}"
                                                                th:text="${country.countryName}"></option>
                                                    </th:block>
                                                </select>
                                            </div>

                                            <!--City-->
                                            <div class="form-group col-md-6">
                                                <label for="txt-living-address-city"
                                                       th:text="#{label.input.city} + ':'">City</label>
                                                <input type="text" class="form-control"
                                                       id="txt-living-address-city"
                                                       th:placeholder="#{placeholder.input.city}">
                                            </div>
                                        </div>
                                        <div class="form-row">

                                            <!--Street-->
                                            <div class="form-group col-md-6">
                                                <label for="txt-living-address-street"
                                                       th:text="#{label.input.street} + ':'"></label>
                                                <input type="text" class="form-control"
                                                       id="txt-living-address-street"
                                                       th:placeholder="#{placeholder.input.street}">
                                            </div>

                                            <!--Building number-->
                                            <div class="form-group col-md-3">
                                                <label for="txt-living-address-building-number"
                                                       th:text="#{label.input.building.number} + ':'"></label>
                                                <input type="number" class="form-control numbers-to-validate"
                                                       id="txt-living-address-building-number"
                                                       th:placeholder="#{placeholder.input.building.number}">
                                            </div>

                                            <!--Apartment number-->
                                            <div class="form-group col-md-3">
                                                <label for="txt-living-address-apartment-number"
                                                       th:text="#{label.input.apartment.number} + ':'"></label>
                                                <input type="number" class="form-control numbers-to-validate"
                                                       id="txt-living-address-apartment-number"
                                                       th:placeholder="#{placeholder.input.apartment.number}">
                                            </div>

                                        </div>
                                        <div class="form-row">

                                            <!--Post code-->
                                            <div class="form-group col-md-6">
                                                <label for="txt-living-address-post-code"
                                                       th:text="#{label.input.post.code} + ':'"></label>
                                                <input type="number" class="form-control"
                                                       id="txt-living-address-post-code"
                                                       th:placeholder="#{placeholder.input.post.code}">
                                            </div>
                                        </div>
                                    </section>

                                    <hr>

                                    <!--Phones-->
                                    <section>
                                        <h4>
                                            <i class="fas fa-phone"></i>
                                            <span th:text="#{txt.phones}"></span>
                                        </h4>

                                        <br>

                                        <div class="form-row">

                                            <!--Mobile phone-->
                                            <div class="form-group col-md-6">
                                                <label for="txt-mobile-number"
                                                       th:text="#{label.input.mobile.phone.number} + ':'"></label>
                                                <input type="tel" class="form-control" id="txt-mobile-number"
                                                       th:placeholder="#{placeholder.input.mobile.phone.number}"/>
                                            </div>

                                            <!--Home phone-->
                                            <div class="form-group col-md-6">
                                                <label for="txt-home-number"
                                                       th:text="#{label.input.home.phone.number} + ':'"></label>
                                                <input type="tel" class="form-control" id="txt-home-number"
                                                       th:placeholder="#{placeholder.input.home.phone.number}"/>
                                            </div>
                                        </div>

                                    </section>

                                    <!--Email-->
                                    <section>
                                        <h4>
                                            <i class="fas fa-at"></i>
                                            <span th:text="#{label.email}"></span>
                                        </h4>

                                        <br>

                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="txt-email"
                                                       th:text="#{label.input.email} + ':'"></label>
                                                <input type="email" class="form-control" id="txt-email"
                                                       th:placeholder="#{placeholder.input.email}"/>
                                            </div>
                                        </div>
                                        <div class="input-group mb-3">

                                        </div>
                                    </section>

                                    <!--Next-->
                                    <div class="form-row">
                                        <div class="form-group col-md-8"></div>
                                        <div class="form-group col-md-4">
                                            <button class="btn btn-primary float-right scroll-top"
                                                    onclick="saveContactInfo()">
                                                <span th:text="#{btn.next}"></span>
                                                <i class="fas fa-arrow-right"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--Personal-info-->
                            <div id="personal-info" class="card-body card-info" style="display: none">
                                <div class="user-info">

                                    <!--Passport-->
                                    <section>
                                        <h4>
                                            <i class="fas fa-passport"></i>
                                            <span th:text="#{txt.passport}"></span>
                                        </h4>

                                        <br>

                                        <!--Passport id-->
                                        <div class="form-row">
                                            <div class="form-group col-md-12">
                                                <label for="txt-passport-id"
                                                       th:text="#{label.input.passport.id} + ':'"></label>
                                                <input type="text" class="form-control" id="txt-passport-id"
                                                       th:placeholder="#{placeholder.input.passport.id}"/>
                                            </div>
                                        </div>

                                        <div class="form-row">

                                            <!--Passport series-->
                                            <div class="form-group col-md-4">
                                                <label for="txt-passport-series"
                                                       th:text="#{label.input.passport.series} + ':'"></label>
                                                <input type="text" class="form-control" id="txt-passport-series"
                                                       th:placeholder="#{placeholder.input.passport.series}"/>
                                            </div>

                                            <!--Passport number-->
                                            <div class="form-group col-md-8">
                                                <label for="txt-passport-number"
                                                       th:text="#{label.input.passport.number}"></label>
                                                <input type="number" class="form-control" id="txt-passport-number"
                                                       th:placeholder="#{placeholder.input.passport.number}"/>
                                            </div>

                                        </div>

                                        <div class="form-row">
                                            <!--Citizenship-->
                                            <div class="form-group col-md-12">
                                                <label for="select-birthplace"
                                                       th:text="#{label.input.country} + ':'"></label>
                                                <div class="input-group mb-3">
                                                    <select class="custom-select" id="select-birthplace">
                                                        <th:block th:each="country : ${countries}">
                                                            <option th:value="${country.iso3code}"
                                                                    th:text="${country.countryName}"></option>
                                                        </th:block>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-row">

                                            <!--Passport authority-->
                                            <div class="form-group col-md-4">
                                                <label for="txt-passport-authority"
                                                       th:text="#{label.input.passport.authority} + ':'"></label>
                                                <input type="text" class="form-control" id="txt-passport-authority"
                                                       th:placeholder="#{placeholder.input.passport.authority}"/>
                                            </div>

                                            <!--Date of issue-->
                                            <div class="form-group col-md-4">
                                                <label for="date-passport-date-of-issue"
                                                       th:text="#{label.input.passport.date.of.issue} + ':'"></label>
                                                <input type="date" class="form-control" id="date-passport-date-of-issue"
                                                       th:placeholder="#{placeholder.input.passport.date.of.issue}"/>
                                            </div>

                                            <!--Date of expire-->
                                            <div class="form-group col-md-4">
                                                <label for="date-passport-date-of-expire"
                                                       th:text="#{label.input.passport.date.of.expire} + ':'"></label>
                                                <input type="date" class="form-control"
                                                       id="date-passport-date-of-expire"
                                                       th:placeholder="#{placeholder.input.passport.date.of.expire}"/>
                                            </div>
                                        </div>

                                    </section>

                                    <hr>

                                    <!--Registration-->
                                    <section>
                                        <h4>
                                            <i class="fas fa-address-card"></i>
                                            <span th:text="#{passport.registration}"></span>
                                        </h4>

                                        <br>

                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="registration-country"
                                                       th:text="#{label.input.country} + ':'"></label>
                                                <select id="registration-country" class="form-control">
                                                    <th:block th:each="country : ${countries}">
                                                        <option th:value="${country.iso3code}"
                                                                th:text="${country.countryName}"></option>
                                                    </th:block>
                                                </select>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="txt-registration-city"
                                                       th:text="#{label.input.city} + ':'"></label>
                                                <input type="text" class="form-control" id="txt-registration-city"
                                                       th:placeholder="#{placeholder.input.city}">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="txt-registration-street"
                                                       th:text="#{label.input.street} + ':'"></label>
                                                <input type="text" class="form-control" id="txt-registration-street"
                                                       th:placeholder="#{placeholder.input.street}">
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label for="txt-registration-building-number"
                                                       th:text="#{label.input.building.number} + ':'"></label>
                                                <input type="number" class="form-control numbers-to-validate"
                                                       id="txt-registration-building-number"
                                                       th:placeholder="#{placeholder.input.building.number}">
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label for="txt-registration-apartment-number"
                                                       th:text="#{label.input.apartment.number} + ':'"></label>
                                                <input type="number" class="form-control numbers-to-validate"
                                                       id="txt-registration-apartment-number"
                                                       th:placeholder="#{placeholder.input.apartment.number}">
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md-12">
                                                <label for="txt-registration-post-code"
                                                       th:text="#{label.input.post.code} + ':'"></label>
                                                <input type="number" class="form-control"
                                                       id="txt-registration-post-code"
                                                       th:placeholder="#{placeholder.input.post.code}">
                                            </div>
                                        </div>

                                        <div class="form-row">

                                            <!--Registration authority-->
                                            <div class="form-group col-md-6">
                                                <label for="txt-registration-authority"
                                                       th:text="#{label.input.passport.registration.authority} + ':'"></label>
                                                <input type="text" class="form-control" id="txt-registration-authority"
                                                       th:placeholder="#{placeholder.input.passport.registration.authority}"/>
                                            </div>

                                            <!--Date registration-->
                                            <div class="form-group col-md-6">
                                                <label for="date-registration-date"
                                                       th:text="#{label.input.passport.registration.date} + ':'"></label>
                                                <input type="date" class="form-control" id="date-registration-date"
                                                       th:placeholder="#{placeholder.input.passport.date.of.expire}"/>
                                            </div>
                                        </div>
                                    </section>

                                    <hr>

                                    <!--Relationship-->
                                    <section>
                                        <h4 th:text="#{txt.relationship}"></h4>
                                        <div class="custom-control custom-switch">
                                            <input class="custom-control-input" type="checkbox" id="check-is-married"
                                                   value="true" name="isMarried">
                                            <label class="custom-control-label" for="check-is-married"
                                                   th:text="#{client.is.married}"></label>
                                        </div>
                                    </section>

                                    <!--Military-->
                                    <section>
                                        <h4 th:text="#{txt.military}"></h4>
                                        <div class="custom-control custom-switch">
                                            <input class="custom-control-input" type="checkbox"
                                                   id="check-is-military-bound"
                                                   value="true" name="isBoundToMilitaryService">
                                            <label class="custom-control-label" for="check-is-military-bound"
                                                   th:text="#{client.is.bound.to.military.service}"></label>
                                        </div>
                                    </section>

                                    <!--Else-->
                                    <section>
                                        <h4 th:text="#{txt.else}"></h4>
                                        <div class="custom-control custom-switch">
                                            <input class="custom-control-input" type="checkbox" id="check-is-retiree"
                                                   value="true" name="isRetiree">
                                            <label class="custom-control-label" for="check-is-retiree"
                                                   th:text="#{client.is.retiree}"></label>
                                        </div>
                                        <div class="custom-control custom-switch">
                                            <input class="custom-control-input" type="checkbox" id="check-is-disabled"
                                                   value="true" name="isDisabled">
                                            <label class="custom-control-label" for="check-is-disabled"
                                                   th:text="#{client.is.disabled}"></label>
                                        </div>
                                    </section>

                                    <!--Next-->
                                    <div class="form-row">
                                        <div class="form-group col-md-8"></div>
                                        <div class="form-group col-md-4">
                                            <button class="btn btn-lg btn-success float-right scroll-top"
                                                    onclick="savePersonalInfo(); saveClient()">
                                                <i class="fas fa-save"></i>
                                                <span th:text="#{btn.save}"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script th:src="@{/js/jquery-3.3.1.js}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
        <script th:src="@{/js/main.js}"></script>
        <script th:src="@{/js/client/clientService.js}"></script>
        <script th:src="@{/js/client/clientController.js}"></script>
    </body>
</html>