<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title th:text="#{title.client.index}"></title>
        <link rel="icon" th:href="@{/assets/bank-icon.png}">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/css/main.css}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    </head>
    <body class="bg-blue">
        <header class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand scroll-top">
                <img th:src="@{/assets/bank-icon.png}"
                     width="30" height="30" class="d-inline-block align-top" alt="Image"> <span
                    th:text="#{app.name}"></span>
            </a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">

                    <!--Home-->
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}"><span th:text="#{nav.home}"></span></a>
                    </li>

                    <!--Profile-->
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/worker/profile}"><span th:text="#{nav.profile}"></span></a>
                    </li>

                    <!--Client-->
                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle scroll-top" role="button"
                           data-toggle="dropdown"><span th:text="#{nav.clients}"></span>
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" th:href="@{/client/create}">
                                <i class="fas fa-user-plus"></i>
                                <span th:text="#{nav.clients.create}"></span>
                            </a>
                        </div>
                    </li>

                    <!--Operation-->
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/operations}"><span th:text="#{nav.actions}"></span></a>
                    </li>
                </ul>

                <!--Search-->
                <div class="logout">
                    <div class="form-inline my-2 my-lg-0">
                        <input id="idPassport" name="idPassport" class="form-control mr-sm-2" type="search"
                               th:placeholder="#{placeholder.input.id} + ':'"
                               aria-label="Search" oninput="findClientById()">
                        <button class="btn btn-outline-success my-2 my-sm-0"
                                onclick="openClient()">
                            <span><i class="fas fa-search-dollar"></i></span>
                            <span th:text="#{btn.search}"></span>
                        </button>
                    </div>
                </div>
            </div>
        </header>
        <div class="container-fluid">
            <div class="row row-center">
                <div class="col-12">
                    <div class="rounded-container smooth-shadow">

                        <!--Title-->
                        <div class="title-container">
                            <i class="avatar fas fa-users"></i>
                            <h2>
                                <span th:text="#{nav.clients} + ' '"></span>
                                <span class="badge badge-success" th:text="#{app.name}"></span>
                            </h2>
                        </div>

                        <div class="rounded-container smooth-shadow">
                            <div class="user-info">

                                <!--Table-->
                                <table class="table table-borderless table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col" th:text="#{passport.last.name}"></th>
                                            <th scope="col" th:text="#{passport.first.name}"></th>
                                            <th scope="col" th:text="#{passport.middle.name}"></th>
                                            <th scope="col" th:text="#{passport.gender.label}"></th>
                                            <th scope="col" th:text="#{passport.birth.date}"></th>
                                            <th scope="col" th:text="#{passport.country.name}"></th>
                                            <th scope="col" th:text="#{passport.id}"></th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <th:block th:each="client : ${clients}">
                                            <tr th:id="${client.id}"
                                                th:onclick="'openClient(' + ${client.id} + ')'">
                                                <td th:text="${client.id}"></td>
                                                <td th:text="${client.passport.lastName}"></td>
                                                <td th:text="${client.passport.firstName}"></td>
                                                <td th:text="${client.passport.middleName}"></td>
                                                <td th:text="${client.passport.isMale} ?
                                        #{passport.gender.male} : #{passport.gender.female}"></td>
                                                <td th:text="${#dates.format(client.passport.birthDate,
                                                'dd.MM.yyyy')}"></td>
                                                <td th:text="${client.passport.citizenship.countryName}"></td>
                                                <td th:text="${client.passport.id}"></td>
                                                <td class="action-icon">
                                                    <a th:href="@{'/client/' + ${client.id}}">
                                                        <i class="fas fa-chevron-right"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        </th:block>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script th:src="@{/js/jquery-3.3.1.js}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
        <script th:src="@{/js/main.js}"></script>
        <script th:src="@{/js/client/clientService.js}"></script>
        <script th:src="@{/js/client/clientController.js}"></script>
    </body>
</html>