<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title th:text="#{operation.credits}"></title>
        <link rel="icon" th:href="@{/assets/bank-icon.png}">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/css/main.css}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    </head>
    <body class="bg-secondary">

        <!--Header-->
        <header class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <a class="navbar-brand scroll-top">
                <img src="https://belgazprombank.by/uploads/userfiles/images/logorus.png" height="35" alt="">
            </a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">
                            <span th:text="#{nav.home}"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/client}">
                            <span th:text="#{nav.clients}"></span>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/operation}">
                            <span th:text="#{nav.operation}"></span>
                        </a>
                    </li>
                </ul>
            </div>


        </header>

        <!--Container-->
        <div class="container-fluid">
            <div class="row row-center">
                <div class="col-12">
                    <div class="rounded-container smooth-shadow">

                        <!--Title-->
                        <div class="title-container">
                            <a class="navbar-brand scroll-top">
                                <img src="https://belgazprombank.by/uploads/userfiles/images/logorus.png" alt="">
                            </a>
                        </div>
                        <div class="card smooth-shadow">
                            <div class="card-header">
                                <ul class="nav nav-pills card-header-pills">

                                    <!--Credit-->
                                    <li class="nav-item">
                                        <a id="btn-all-credit-tab" class="nav-link active" href="#"
                                           onclick="showAllCreditTab()">
                                            <span th:text="#{operation.credit.all}"></span>
                                        </a>
                                    </li>

                                    <!--Deposit-->
                                    <li class="nav-item">
                                        <a id="btn-create-credit-tab" class="nav-link" href="#"
                                           onclick="showCreateCreditTab()">
                                            <span th:text="#{operation.credit.create}"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <!--Credit-tab-->
                            <div id="all-credit-tab" class="card-body card-info">
                                <div class="user-info">
                                    <section>

                                        <!--Table-->
                                        <table class="table table-striped  table-hover">
                                            <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col" th:text="#{account.name}"></th>
                                                    <th scope="col" th:text="#{account.worker.name}"></th>
                                                    <th scope="col" th:text="#{account.client.name}"></th>
<!--                                                    <th scope="col" th:text="#{account.type}"></th>-->
                                                    <th scope="col" th:text="#{account.date.of.issue}"></th>
                                                    <th scope="col" th:text="#{account.value}"></th>
                                                    <th scope="col" th:text="#{account.currency}"></th>
                                                    <th scope="col" th:text="#{account.percentage}"></th>
                                                    <th scope="col" th:text="#{account.contract}"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <th:block th:each="activeAccounts : ${activeAccounts}">
                                                    <tr>
                                                        <td th:text="${activeAccounts['id']}"></td>
                                                        <td th:text="${activeAccounts['name']}"></td>
                                                        <td>
                                                            <a th:href="@{'/worker/' + ${activeAccounts['worker'].id}}"
                                                               th:text="${activeAccounts['worker'].name}"></a>
                                                        </td>
                                                        <td>
                                                            <a th:href="@{'/client/' + ${activeAccounts['client'].id}}"
                                                               th:text="${activeAccounts['client'].name}"></a>
                                                        </td>
<!--                                                        <td th:text="${activeAccounts['type']}" class="text-center"></td>-->

                                                        <td th:text="${#dates.format(activeAccounts['dateOfIssue'],
                                                        'dd.MM.yyyy')}" class="text-center"></td>

                                                        <td th:text="${activeAccounts['value']}" class="text-right"></td>

                                                        <td th:text="${activeAccounts['currency'].name}"
                                                            class="text-left"></td>

                                                        <td th:text="${activeAccounts['percentage']}"></td>
                                                        <td class="text-right">
                                                            <a th:href="@{'/contract/' + ${activeAccounts['contract'].id}}"
                                                               th:text="${activeAccounts['contract'].id}"></a>
                                                        </td>
                                                    </tr>
                                                </th:block>
                                            </tbody>
                                        </table>

                                    </section>
                                </div>
                            </div>

                            <!--Deposit-tab-->
                            <div id="create-credit-tab" class="card-body card-info" style="display: none">
                                <div class="user-info">
                                    <!--Currency-->
                                    <section>
                                        <h4>
                                            <i class="fas fa-dollar-sign"></i>
                                            <span th:text="#{account.currency} + ':'"></span>
                                        </h4>

                                        <br>

                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="select-currency"
                                                       th:text="#{label.select.currency} + ':'"></label>
                                                <select id="select-currency" class="form-control">
                                                    <th:block th:each="currency : ${currencies}">
                                                        <option th:value="${currency.id}"
                                                                th:text="${currency.name}"></option>
                                                    </th:block>
                                                </select>
                                            </div>
                                        </div>
                                    </section>

                                    <!--Client-->
                                    <section>
                                        <h4>
                                            <i class="fas fa-user"></i>
                                            <span th:text="#{account.client.name} + ':'"></span>
                                        </h4>

                                        <br>

                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="select-client"
                                                       th:text="#{label.select.client} + ':'"></label>
                                                <select id="select-client" class="form-control">
                                                    <th:block th:each="client : ${clients}">
                                                        <option th:value="${client.id}"
                                                                th:text="${client.id + '. ' +
                                                                client.passport.lastName + ' ' +
                                                                client.passport.firstName + ' ' +
                                                                client.passport.middleName}"></option>
                                                    </th:block>
                                                </select>
                                            </div>
                                        </div>
                                    </section>

                                    <hr>

                                    <!--Value-->
                                    <section>
                                        <h4>
                                            <i class="fas fa-calculator"></i>
                                            <span th:text="#{account.credit.value} + ':'"></span>
                                        </h4>

                                        <br>

                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="number-deposit-value"
                                                       th:text="#{label.deposit.value} + ':'"></label>
                                                <input type="number" class="form-control numbers-to-validate"
                                                       id="number-deposit-value"
                                                       th:placeholder="#{placeholder.deposit.value}"/>
                                            </div>
                                        </div>
                                    </section>

                                    <!--Percentage-->
                                    <section>
                                        <h4>
                                            <i class="fas fa-calculator"></i>
                                            <span th:text="#{account.credit.percent} + ':'"></span>
                                        </h4>

                                        <br>

                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="number-deposit-percent"
                                                       th:text="#{label.credit.percent} + ':'"></label>
                                                <input type="number" class="form-control numbers-to-validate"
                                                       id="number-deposit-percent"
                                                       th:placeholder="#{placeholder.deposit.percent}"/>
                                            </div>
                                        </div>
                                    </section>

                                    <!--Buttons-->
                                    <div class="form-row">
                                        <div class="form-group col-md-8"></div>
                                        <div class="form-group col-md-4">
                                            <button class="btn btn-primary btn-custom float-right"
                                                    th:onclick="'saveAccount(' + ${accountType.id} + ')'">
                                                <span th:text="#{btn.save}"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Error Modal -->
        <div class="modal fade" id="error-modal" tabindex="-1" role="dialog"
             aria-labelledby="error-modal-label" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-danger" id="error-modal-label">
                            <i class="fas fa-exclamation-circle"></i>
                            <span id="error-modal-title" th:text="#{title.error.oops}"></span>
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <span id="error-modal-body"></span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">
                            <span th:text="#{btn.close}"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <script th:src="@{/js/jquery-3.3.1.js}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
        <script th:src="@{/js/main.js}"></script>
        <script th:src="@{/js/operation/operationService.js}"></script>
        <script th:src="@{/js/operation/operationController.js}"></script>
    </body>
</html>